# Firebase config (PUBLIC – không phải secret)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_LIVEKIT_URL=wss://livekit.thang2k6adu.xyz

# Backend API
# VITE_API_BASE_URL=https://pp191225-be.onrender.com/api
VITE_API_BASE_URL=http://pp191225api.thang2k6adu.xyz
